In [ ]:
#Question-1
# Create five Numbers  Variables and Assign Some Values in it and display the Output of  that Variables
a=1
b=2
c=3
d=4
e=5
print(a,b,c,d,e)

1 2 3 4 5

In [ ]:
#Question-2
# Create Five String Variables and Assigns Some Values in it and display the Output of that Variables

var1="Bhavya"
var2="Laptop"
var3="Keyboard"
var4="Mouse"
var5="Python"
print(var1,var2,var3,var4,var5)

Bhavya Laptop Keyboard Mouse Python

In [ ]:
#Question-3
# Store Days of the week  in One Variable

days_of_week = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday") #tuple is created to store days of the week
print(days_of_week)

type(days_of_week)  #data type is tuple

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

tuple

In [ ]:
#Question-4
# Store at least 10  Floating point Number in one Variable

floating_numbers = [2.22,7.88,4.55,3.56,3.67,7.89,34.67,123.67,7.88,9.89]  #list is created to store 10 floating numbers in one variable
print(floating_numbers)

type(floating_numbers)  #data type is list

[2.22, 7.88, 4.55, 3.56, 3.67, 7.89, 34.67, 123.67, 7.88, 9.89]

list

In [ ]:
#Question-5
# Create a Dictionary to store the data of Square of the Given Nos upto 10

sq_dict={
    1:1,
    2:4,
    3:9,
    4:16,
    5:25,
    6:36,
    7:49,
    8:64,
    9:81,
    10:100
}

print(sq_dict)

type(sq_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

dict

In [ ]:
#Question-6
# Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables

set_1 =  {1,1,2,3,4,5,"Bhavya","CoachX"}
set_2 =  {3,6,"Flower","Saturday",7.8,4.56}
set_3 =  {4,7,"Vasu","March",7}
set_4 =  {"t","v","Today",67895674.56}
set_5 =  {"CoachX","Python","High Level Language","Object Oriented","Interpreted"}

print(set_1,"\n",set_2,"\n",set_3,"\n",set_4,"\n",set_5)  # "/n" is used for newline
type(set_1)

{1, 2, 3, 4, 5, 'Bhavya', 'CoachX'}
 {3, 4.56, 6, 7.8, 'Flower', 'Saturday'}
 {'March', 4, 'Vasu', 7}
 {'t', 'v', 67895674.56, 'Today'}
 {'High Level Language', 'Python', 'Object Oriented', 'Interpreted', 'CoachX'}

set

In [ ]:
#Question-8
# a = 72e3
# What is the meaning of a ?

a=72e3
print(a)
type(a)

# Answer: Here 'a' is a floating type variable which has been assigned the value 72000.0. Here e3 represent 10^3=1000

72000.0

float

In [ ]:
#Question-9
# b = 72e-5
# What is the meaning of a ?

b=72e-5
print(b)
type(b)

# Answer: Here 'b' is a floating type variable which has been assigned the value 0.00072. Here e-5 represent 10^(-5)=1/100000

0.00072

float

In [ ]:
#Question-10

# Create Five different data types of variables and Show the type of the variable:-

#1. Number (complex variable)

x=7+6j
print(type(x))

#2. List

list_var = [2,4,6,8,'r','t','u']
print(type(list_var))

#3. Tuple

tuple_var = (1,2,'pi','Bhavya')
print(type(tuple_var))

#4. Dictionary

dict_var = {
    'a':'Aman',
    'b':'Bhavya',
    'c':'CoachX'
}

print(type(dict_var))

#5. Set

set_var ={4,6,'a','a','a','Tuesday'}
print(type(set_var))

<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>